.mixin.out/
.probe/
.vscode/

backups/

config/jei/world/

config/embeddium-fingerprint.json
config/packetfixer.properties
config/quark-common.toml
config/**/*.bak

crash-reports/
ESM/

# KubeJS
kubejs/**/__pycache__/
kubejs/probe/
kubejs/config/

local/
logs/
mods/
patchouli_books/
resourcepacks/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/

# Individual Files
.qmenu_opened.marker
hotbar.nbt
options.txt
patchouli_data.json
rhino.local.properties
server-pack*.zip
usercache.json
usernamecache.json
