backups/
crash-reports/
defaultconfigs/
ESM/
local/
logs/
mods/
patchouli_books/
resourcepacks/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/

options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
