.mixin.out/
.replay_cache/
.probe/
.vscode/

backups/
build/

fancymenu_data/

config/jei/world/
config/fancymenu/fancymenu_data/

config/embeddium-fingerprint.json
config/packetfixer.properties
config/xaeropatreon.txt
config/xaerominimap*
config/xaeroworldmap*
config/**/*.bak

crash-reports/
ESM/

# KubeJS
kubejs/**/__pycache__/
kubejs/probe/
kubejs/config/*.json
kubejs/config/*.properties
kubejs/**/.kjspkg/

local/
logs/
modernfix/
mods/
patchouli_books/

resourcepacks/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
xaero/

XaeroWaypoints*
XaeroWorldMap*

# Individual Files
.qmenu_opened.marker
hotbar.nbt
options.txt
patchouli_data.json
rhino.local.properties
servers.dat
servers.dat_old
usercache.json
usernamecache.json
